<h1 fxLayout="row" fxLayoutAlign="center center" class="title">Baixe seu video preferido</h1>

  <mat-tab-group animationDuration="0ms" >
    <!-- instruções -->
    <mat-tab label="Instruções de uso"></mat-tab>

      <!-- formulario de video -->
    <mat-tab label="Baixar Video">
      <form  fxLayout="row" fxLayoutAlign="center center" class="urlContainer">
          <mat-form-field class="example-form-field" appearance="fill" >
            <mat-label>Insira o ID do video</mat-label>
            <input matInput type="text" [(ngModel)]="videoId" name="ulrLink">
            <button *ngIf="videoId" matSuffix mat-icon-button aria-label="Clear" (click)="videoId=''" >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

      </form>

      <div fxLayout="row" fxLayoutAlign="center center">
        <ng-container *ngIf="videoId"  >
       <form [formGroup]="formVideo" >
            <mat-card class="example-card">
              <iframe width="460" height="315" [src]='securefullurl()'  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <mat-card>
                <mat-card-title>Escolha Qualidade do video</mat-card-title>
                <input matInput type="text" formControlName="urlYt" [(ngModel)]="fullUrl" name="urlYt" [value]="fullUrl" class="inputUrlYt">
                <mat-card-actions fxLayout="row" fxLayoutAlign="space-evenly center">
                  <mat-form-field appearance="fill">
                    <mat-label>Escolha uma das opções</mat-label>
                    <mat-select disableRipple formControlName="qualityVideo" name="qualityVideo">
                      <mat-option value="18" >mp4 360p</mat-option>
                      <mat-option value="135">mp4 480p</mat-option>
                      <mat-option value="136">mp4 720p</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-raised-button class="btnUlr" (click)="saveForm()">Baixar</button>
                </mat-card-actions>
              </mat-card>
            </mat-card>
          </form>
        </ng-container>
      </div>
    </mat-tab>

     <!-- formulario de mp3 -->
    <mat-tab label="Converter para MP3"></mat-tab>

  </mat-tab-group>





