.example-spacer {
  flex: 1 1 auto;
}

.example-form-field {
  width: 100%;
}

.urlContainer{
  height: 300px;
  width: 45%;
  margin: 0 auto;
  margin-top: -90px;
}

.btnUlr{
  margin-left: 10px;
  margin-bottom: 16px;
  padding: 10px;
  height: 50px;
}

.title{
  margin-top: 15px;
  margin-bottom:-15px;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.example-card {
  max-width: 400px;
  margin-top: -110px;
}

