<p>
  <mat-toolbar>
    <span>ManiVideo</span>
  </mat-toolbar>
</p>

<h1 fxLayout="row" fxLayoutAlign="center center" class="title">Baixe seu video preferido</h1>

  <mat-tab-group animationDuration="0ms" >
    <!-- instruções -->
    <mat-tab label="Instruções de uso"></mat-tab>

      <!-- formulario de video -->
    <mat-tab label="Baixar Video">
      <form  [formGroup]="formVideo" fxLayout="row" fxLayoutAlign="center center" class="urlContainer">
          <mat-form-field class="example-form-field" appearance="fill" >
            <mat-label>Insira a URL do video</mat-label>
            <input matInput type="text" [(ngModel)]="ulrLink" formControlName="urlYt" name="ulrLink">
            <button *ngIf="ulrLink" matSuffix mat-icon-button aria-label="Clear" (click)="ulrLink=''" >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <button mat-button color="primary" class="btnUlr">Buscar</button>

      </form>

      <div fxLayout="row" fxLayoutAlign="center center">
        <ng-container *ngIf="ulrLink"  >

          <mat-card class="example-card">
            <video width="400" controls>
              <source src="" type="video/mp4">
              <source src="" type="video/ogg">
              Your browser does not support HTML video.
            </video>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

        </ng-container>
      </div>
    </mat-tab>

     <!-- formulario de mp3 -->
    <mat-tab label="Converter para MP3"></mat-tab>

  </mat-tab-group>





